@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.outmost{
    
    width: 95vw;
    height: 100vh;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    animation: flow 15s ease infinite;
    align-items: center;
    
}


.Head{
    display: flex;
    background-color: skyblue;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 0.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 1300px;

    .logo{
        background-color: skyblue;
        animation: lg 1.5s ease forwards;
        border-radius: 100%;
        border: none;
        /* text-decoration: none; */
        
        button{
            background-color: skyblue;
            border: none;
            border-radius: 100%;
            cursor: pointer;
        }
    }
    .logo img{
        width: 70px;
        height: 70px;
        border-radius: 100%;
        
    
    }
    justify-content: space-around;
    
    .Tittle{
        color: red;
        background-color: #1e1d3e;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 3rem;
        position: relative;
        left: 90px;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        border-radius: 15px;
        /* background-color: skyblue; */
        animation: shine 3s ease-in infinite alternate;
        animation-delay: 3s;
        text-decoration: none;
        font-size: 3rem;
    }


    .know{
        /* background-color: skyblue; */
        border-radius: 10px;
    }
 
    .know a{
        color: #112591;
        text-align: center;
        background-color: rgb(177, 177, 32);
        height: 40px;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-family: "Inter", sans-serif;
        font-size: 1.2rem;
        
        text-decoration: none;
        font-weight: bolder;
        /* background-color: skyblue; */
    }
    /* .Tittle:hover{
        text-shadow: rgb(0, 0, 0) 0 0 10px;
        transform: scale(1.05);
        border-radius: 100%;  
    } */
    
    .know a:hover{
        background-color: rgb(255, 217, 0);
        transform: scale(1.05);
    }

    .extra{
        background-color: skyblue;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        animation: ex 1.5s ease forwards;
        .theme{
            background-color: skyblue; 
            button{
                background-color: #f6caca;
                border-radius: 10px;
                padding: 0.25rem;
                font-family: "Inter", sans-serif;
                font-size: 1.1rem;
                font-weight: bolder;
            }
        }
    }

}


@keyframes shine {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.01);
    }
}
 


@keyframes lg {
    0%{
        opacity: 0;
        transform: translateX(-250px);
        background-color: white;
    }

    100%{
        opacity: 1;
        transform: translateX(0);
        
    }
}
@keyframes ex {
    0%{
        opacity: 0;
        transform: translateX(250px);
        background-color: white;
    }

    100%{
        opacity: 1;
        transform: translateX(0);
        
    }
}



.form{
    margin-top: 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: "Inter", sans-serif;
    text-align: center;
    .arr{
        font-size: 1rem;
        color: gray;
    }
    a{
        color: rgb(30, 11, 45);
        text-decoration: none;
        background-color: skyblue;
        font-size: 1.5rem;
        font-weight: bolder;
        padding: 0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        border-radius: 10px;

    }
    
}
.form a:hover{
        box-shadow: rgb(0, 221, 255) 0 0 10px;
        transform: scale(1.05);
    }

.body{
    background-color: aliceblue;
    font-family: "Inter", sans-serif;
    width: 1300px;
    height: 100%;
    margin-top: 4rem;
    display: flex;
    padding: 1rem;
    border-radius: 15px;
    #bthead{
        color: #fff;
        font-size: 2.5rem;
    }
    .btext{
        background-color:#0e0621;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        animation: grptext 1s ease forwards;
        line-height: 2rem;
        padding-left: 1rem;
    }
    .descrip{
        padding: 1rem;
        color:#fff;
        gap: 1rem;
        font-size: larger;
        .km a{
            text-decoration: none;
            color: #ffea00;
            transition: all 1s ease-in;
        }
    }
    /* align-items: center; */
    justify-content: center;
    justify-content: space-between;
}

.km:hover{
    color: #0ff;
}


.grp{
    width: 50%;
    padding: 2rem;
    animation: grpimg 1s ease forwards;
    background-color:#0e0621;
}
.grp img{
    width: 600px;
    height: 500px;
    border-radius: 25px;
    
}

@keyframes grptext {
    0%{
        opacity: 0;
        transform: translateX(-450px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes grpimg {
    0%{
        opacity: 0;
        transform: translateX(2500px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.memories{
    margin-top: 3rem;
    color: #ffea00;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    position: relative;
    left: 80px;
}

.glow-button {
  padding: 12px 24px;
  background-color: #1e1d3e;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;

  /* Glowing Effect */
  box-shadow: inset 0 0 5px #0ff,inset 0 0 10px #0ff,inset 0 0 20px #0ff;
  animation: glow 0.75s ease-in-out infinite alternate;
  text-decoration: none;
  font-size: 1.2rem;
}

@keyframes glow {
  from {
    box-shadow:inset 0 0 5px #0ff,inset 0 0 10px #0ff,inset 0 0 20px #0ff;
  }
  to {
    box-shadow:inset 0 0 10px #0ff,inset 0 0 20px #0ff,inset 0 0 40px #0ff;
  }
}

.copy{
    color: #fff;
    font-family: "Inter", sans-serif;
    width: 95vw;
    height: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}